<footer>
    <div class="row primary">
      <div class="column about">
    
      <h3>Banking </h3>
    
       <p>
          bank is something we love. bank is something we hate
      </p>
    
      <div class="social">
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-youtube-square"></i>
        <i class="fa-brands fa-whatsapp-square"></i>
      </div>
    </div>
    
    <div class="column links">
    <h3>Some Links</h3>
    
     <ul>
    
      <li>
       <a >F.A.Q</a>
      </li>
      <li>
       <a >Cookies Policy</a>
      </li>
      <li>
       <a >Terms Of Service</a>
      </li>
      <li>
       <a >Support</a>
      </li>
     </ul>
    
    </div>
    
    
    <div class="column links">
      <h3>Some Links</h3>
       <ul>
        <li>
         <a>F.A.Q</a>
        </li>
        <li>
         <a >Cookies Policy</a>
        </li>
        <li>
        <a >Terms Of Service</a>
        </li>
        <li>
        <a >Support</a>
        </li>
      </ul>
    </div>
    
    <div class="image">
        <img src="../../assets/banklogodigi.jpeg" width="150px" alt="Logo">
    </div>
    
    </div>
    
    <div class="row copyright">
      <div class="footer-menu">
    
      
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Blog</a>
      <a href="">Social</a>
    
      </div>
       <p>Copyright &copy; 2023 DigiBank </p>
    </div>
    </footer>