.account-details-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .transaction-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .axis{
    color:#97144d;
    font-weight: bold;
  }
  .transferbtn{
    margin-bottom: 20px;
    margin-top: 0;
  }