.main-container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin: auto;
  
  justify-content: center;
}

.login-container {
  width: 300px;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center items horizontally */
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  background-color: #97144d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-container{  
  padding: 30px;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #624763;
}

img {
  max-width: 100%;
  height: auto;
}

mat-card.example-card {
  max-width: 300px; /* Adjust the max-width for the card container */
  margin-left: 20px; /* Add margin to separate the login container and card container */
  height: 100%;
}
.example-card {
  color: #97144d;
}

.example-header-image {
  background-image: url("../../assets/banklogodigi.jpeg");
  background-size: cover;
}
.errorMessage {
  color: #2f1847; /* Text color */
  background-color:#e6e6fa ; /* Background color */
  border: 1px solid #97144d; /* Border color */
  border-radius: 5px; /* Border radius for rounded corners */
  padding: 3px; /* Padding inside the error message box */
  margin-bottom: 10px; /* Spacing between error messages */
  text-align: center; /* Center the text */
  font-weight: bold; /* Make the text bold */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.errorMessage:hover {
  background-color: #624763; /* Change background color on hover */
}

#scroll-container {
 
  border-radius: 5px;
  height: 300px;
  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 8s linear infinite;
  -webkit-animation: my-animation 8s linear infinite;
  animation: my-animation 8s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}